[Unit]
Description=Ubooquity
After=network.target

[Service]
User=openflixr
WorkingDirectory=/opt/ubooquity
ExecStart=/usr/bin/java -jar -Xmx512m /opt/ubooquity/Ubooquity.jar --headless --adminport 2023 --libraryport 2022 --remoteadmin
Restart=always

[Install]
WantedBy=multi-user.target
